@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent

<header>
    <h1>From Scratch</h1>
</header>



@Body

<footer>
    &copy; by @CopyrightMessage
</footer>

@functions {
    public string CopyrightMessage { get; set; }
   
}
